@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: black;
    --cor_destaque: #79b1db;
    --cor_texto: #f0eff4;
    --cor_barra: #45525c;
    --texto_h1: "Inter", sans-serif;
    --texto_paragrafo: "Inria Sans", sans-serif;
}

body {
    background-color: var(--dark);
}

header {
    background-color: var(--cor_barra);
    height: 70px;
}

nav {
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10%;
    list-style: none;
    margin-left: 21.2%;
}

.navbar li {
    font-size: 30px;
    font-family: var(--texto_paragrafo);
    font-weight: bold;
    color: var(--cor_texto);
}

a {
    text-decoration: none;
    color: var(--cor_destaque);
}

#principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 21%;
    gap: 9%;
    width: 45%;
}

h1 {
    font-size: 2.5em;
    line-height: 40px;
    color: var(--cor_texto);
    font-family: var(--texto_h1);
    font-weight: normal;
    text-align: justify;
}

.para1, .para2 {
    color: var(--cor_texto);
    font-family: var(--texto_paragrafo);
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    font-size: 19px;
    width: 100%;
}

.para1, .para2, .links {
    margin-top: 5%;
}

.link button{
    width: 200px;
    height: 60px;
    border-radius: 58px;
    font-size: 18px;
    background-color: var(--cor_destaque);
    color: var(--dark);
    font-family: var(--texto_paragrafo);
    font-weight: 600;
    border: 0;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.foto {
    width: 300px;
    height: auto;
    border: 3px solid var(--cor_destaque);
    border-radius: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor_barra);
    color: var(--cor_texto);
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-family: var(--fonte_paragrafo);
    font-weight: 500;
}
